/* less 样式基础变量 */
@yhui-prefix: yh; // class 前缀
@borderRadius: 5px; // 边框角
@font-family: "Helvetica, Microsoft YaHei, Arial, sans-serif"; // 字体
@font-size: 14px; // 字体大小
// @text-color: #333; // 文字颜色
@line-height: 1.5715; // 行高
@text-indent: 2px; // 输入框锁进
@text-content-color: #525252; // 内容主体文字颜色
@text-color: #333333; // 面包屑文字颜色
/* 按钮部分 */
@base-button-bColor: #2091E4; // 按钮主背景颜色
@base-button-hover-bColor: #30A7FF; //按钮hover背景颜色
@base-button-disabled-BColor: #97979F; //按钮禁用背景颜色

/* 输入框部分 */
@input-width: 200px;
@input-height: 32px;